* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 50px 20px 20px;
  overflow: hidden;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #3f51b5;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.top-bar > div {
  flex: 1;
  display: flex;
  justify-content: center;
}

.top-bar__info {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #3f51b5;
  border-radius: 100%;
  cursor: pointer;
}

.target-info {
  position: relative;
  top: 35px;
}

/* ----- slider start ----- */

body {
  height: 100vh;
  margin: 0;
  display: flex;
}

input[type="range"] {
  margin: 0 auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 50px;
  width: 100%;
  max-width: 600px;
  cursor: pointer;
  border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
  background: #ccc;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 50px;
  height: 50px;
  background: #3f51b5;
}

::-moz-range-track {
  height: 50px;
  background: #ccc;
}

::-moz-range-thumb {
  background: #3f51b5;
  height: 50px;
  width: 20px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-sizing: border-box;
}

::-ms-thumb {
  background: #3f51b5;
  border: 2px solid #999;
  height: 50px;
  width: 20px;
  box-sizing: border-box;
}

::-ms-ticks-after {
  display: none; 
}

::-ms-ticks-before {
  display: none; 
}

::-ms-track {
  background: #ccc;
  color: transparent;
  height: 50px;
  border: none;
}

::-ms-tooltip {
  display: none;
}

/* ----- slider end ----- */

.show-results__button {
  width: 100%;
  max-width: 600px;
  height: 50px;
  margin: 0 auto;
  background-color: #3f51b5;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000aa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__container {
  background-color: white;
  z-index: 1;
  padding: 20px;
  min-width: 330px;
}

.popup__container > div {
  margin: 20px 0;
}

.popup__button-container {
  display: flex;
}

.popup__ok-button, .popup__cry-button {
  flex: 1;
  background-color: #3f51b5;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popup__cry-button {
  background-color: red;
  margin-left: 20px;
}
